## Ignore Umbraco files/folders generated for each instance
##
## Get latest from https://github.com/github/gitignore/blob/master/Umbraco.gitignore

# Note: VisualStudio gitignore rules may also be relevant

# Umbraco
# Ignore UmbracoWebsite
/UmbracoWebsite

# Ignore packages, dll and properties folders
/EditingLookContentApp/obj/Debug
/EditingLookContentApp/Properties
/EditingLookContentApp/bin
/EditingLookContentApp/.vs
/.vs
/packages
